#categories {
    color: white;
}
html, body {
    height: 100%;
    background: red;
    background: -webkit-linear-gradient(to bottom, red, royalblue);
    background:      -o-linear-gradient(to bottom, red, royalblue);
    background:         linear-gradient(to bottom right, red, royalblue);
}