#categories {
    color: black;
}

.transparent {
    background: transparent;
    border: transparent;
}
html, body {
    height: 100%;
    background-image: url("reverse gate chinese.jpg");
}